body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    background-color: #f4f4f9;
    color: #333;
    background: linear-gradient(to right, #e0f7fa, #8099ea);
}

h1 {
    font-size: 48px;
    margin-bottom: 30px;
    color: #001e79;

}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

input {
    padding: 10px;
    margin: 10px;
    border: 2px solid #001e79;
    border-radius: 5px;
}
button {
    padding: 20px 40px;
    font-size: 16px;
    color: #fff;
    background-color: #001e79;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #00134e;
}

#water-visualization{
    width: 100%;
    height: 300px;
    margin-top: 20px;
    background-color: #e0f7fa;
}